    <!-- About Section -->
<section id="about" class="container content-section text-center">
<div class="row">
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function(){
        $("a").click(function(){
            $("img").removeClass("animated bounceIn");
            $(this).children("img").addClass("animated bounceIn");
        });
    });
</script>

<style>

.col-sm-6 {
    padding: 0;
  }

    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    @-webkit-keyframes bounceIn {
        0% {
            -webkit-transform: scale(0);
        }
        50% {
            -webkit-transform: scale(1.5);
        }
        100% {
            -webkit-transform: scale(1);
        }
    }
    
    @keyframes bounceIn {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }
    
    .bounceIn {
        -webkit-animation-name: bounceIn;
        animation-name: bounceIn;
    }
</style>

<style>
.floating-button {
  position: fixed;
  bottom: 20px;
  z-index: 100;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
}

.floating-button:active {
  transform: translateY(5px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.floating-whatsapp {
  right: 20px;
  background-color: green;
}

.floating-call {
  right: 80px;
  background-color: blue;
}
</style>

<a href="https://api.whatsapp.com/send?phone=YOUR_PHONE_NUMBER&text=Hello" class="floating-button floating-whatsapp">
  <img src="https://image.flaticon.com/icons/svg/134/134937.svg" width="50" height="50">
</a>

<a href="tel:YOUR_PHONE_NUMBER" class="floating-button floating-call">
  <img src="https://image.flaticon.com/icons/svg/1380/1380338.svg" width="50" height="50">
</a>



<div class="card-group">
  <div class="card">
    <a href="#link1">
      <div class="card-img-top" style="background-image: url(img/card1-bg.jpg);"></div>
    </a>
    <div class="card-body">
      <h5 class="card-title">Card 1</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet, metus ac sollicitudin luctus.</p>
      <a href="#" class="btn btn-primary">Ver más</a>
    </div>
  </div>
  <div class="card">
    <a href="#link2">
      <div class="card-img-top" style="background-image: url(img/card2-bg.jpg);"></div>
    </a>
    <div class="card-body">
      <h5 class="card-title">Card 2</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet, metus ac sollicitudin luctus.</p>
      <a href="#" class="btn btn-primary">Ver más</a>
    </div>
  </div>
  <div class="card">
    <a href="#link3">
      <div class="card-img-top" style="background-image: url(img/card3-bg.jpg);"></div>
    </a>
    <div class="card-body">
      <h5 class="card-title">Card 3</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet, metus ac sollicitudin luctus.</p>
      <a href="#" class="btn btn-primary">Ver más</a>
    </div>
  </div>
</div>





<div class="card-group">
  <div class="card" style="background-image: url(img/card1-bg.jpg);">
    <div class="card-body">
      <h5 class="card-title">Card 1</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet, metus ac sollicitudin luctus.</p>
      <a href="#" class="btn btn-primary">Ver más</a>
    </div>
  </div>
  <div class="card" style="background-image: url(img/ml1.png);">
    <div class="card-body">
      <h5 class="card-title">Card 2</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet, metus ac sollicitudin luctus.</p>
      <a href="#" class="btn btn-primary">Ver más</a>
    </div>
  </div>
  <div class="card" style="background-image: url(img/card3-bg.jpg);">
    <div class="card-body">
      <h5 class="card-title">Card 3</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet, metus ac sollicitudin luctus.</p>
      <a href="#" class="btn btn-primary">Ver más</a>
    </div>
  </div>
</div>


<div class="card-deck">
  <div class="card" style="background-image: url(img/card1-bg.jpg);">
    <div class="card-body">
      <h5 class="card-title">Card 1</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet, metus ac sollicitudin luctus.</p>
    </div>
  </div>
  <div class="card" style="background-image: url(img/card2-bg.jpg);">
    <div class="card-body">
      <h5 class="card-title">Card 2</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet, metus ac sollicitudin luctus.</p>
    </div>
  </div>
  <div class="card" style="background-image: url(img/card3-bg.jpg);">
    <div class="card-body">
      <h5 class="card-title">Card 3</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet, metus ac sollicitudin luctus.</p>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-sm-3 bg-img/ml1">
    <a href="#link1">
      <img src="img/ml1.png" class="img-center">
    </a>
  </div>
  <div class="col-sm-3 bg-warning">
    <a href="#link2">
      <img src="img/ml2.png" class="img-center">
    </a>
  </div>
  <div class="col-sm-3 bg-img/ml3">
    <a href="#link3">
      <img src="img/ml3.png" class="img-center">
    </a>
  </div>
  <div class="col-sm-3 bg-img/ml4">
    <a href="#link4">
      <img src="img/ml4.png" class="img-center">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 bg-img/ml5">
    <a href="#link5">
      <img src="img/ml5.png" class="img-center">
    </a>
  </div>
  <div class="col-sm-3 bg-img/ml6">
    <a href="#link6">
      <img src="img/ml6.png" class="img-center">
    </a>
  </div>
  <div class="col-sm-3 bg-img/ml7">
    <a href="#link7">
      <img src="img/ml7.png" class="img-center">
    </a>
  </div>
  <div class="col-sm-3 bg-img/ml8">
    <a href="#link8">
      <img src="img/ml8.png" class="img-center">
    </a>
  </div>
</div>




<div class="col-lg-12">
    <a href="#link1" style="display: block; width: 100%;">
        <img src="img/ml1.png" class="img-center">
    </a>
    <a href="#link2" style="display: block; width: 100%;">
        <img src="img/ml2.png" class="img-center">
    </a>
    <a href="#link3" style="display: block; width: 100%;">
        <img src="img/ml3.png" class="img-center">
    </a>
    <a href="#link4" style="display: block; width: 100%;">
        <img src="img/ml4.png" class="img-center">
    </a>
</div>
   <div class="col-lg-12">
         <a href="#link1" style="display: block; width: 100%;">
            <img src="img/ml1.png" class="img-center">
         </a>
         <a href="#link2" style="display: block; width: 100%;">
            <img src="img/ml2.png" class="img-center">
         </a>
         <a href="#link3" style="display: block; width: 100%;">
            <img src="img/ml3.png" class="img-center">
         </a>
         <a href="#link4" style="display: block; width: 100%;">
            <img src="img/ml4.png" class="img-center">
         </a>
  
            <h2>About Grayscal</h2>
            <p>Grayn <a href="http://startbootstrap.com/template-overviews/grayscale/">the pre</a>. Thl.</p>
            <p>The Jekyll version is brought to you by <a href="https://github.com/jeromelachaud">Jero</a></p>
            <p>Thi <a href="http://gratisography.com/">Gr</a> al <a href="http://snazzymaps.com/">Snazmaps</a>.</p>
            <p>Gran.</p>


<div class="btn-group">
    <a href="#link1">
        <button type="button" class="btn btn-warning">Apple</button>
    </a>
    <a href="#link2">
        <button type="button" class="btn btn-success">Samsung</button>
    </a>
    <a href="#link3">
        <button type="button" class="btn btn-info">Sony</button>
    </a> 
</div>

        </div> 
    </div>
</div>

</section>