    <!-- Contact Section -->

    <section id="download" class="content-section text-center">
<div class="collage">
  <div class="collage-item item1">
    <a href="#link1">

    </a>
  </div>
  <div class="collage-item item2">
    <a href="#link2">

    </a>
  </div>
  <div class="collage-item item3">
    <a href="#link3">

    </a>
  </div>
  <!-- Agrega más elementos aquí si es necesario -->
</div>

<section id="contact" class="container content-section text-center">
    <div class="row">

            <h2>Contact</h2>
            <p>Feel free to reach out to us via email:</p>
            <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
            <ul class="list-inline banner-social-buttons">
                {% for network in site.social %}
                <li>
                    <a href="{{ network.url }}" class="btn btn-default btn-lg">
                        <i class="fa fa-{{ network.title }} fa-fw"></i>
                        <span class="network-name">{{ network.title }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
             <a href="https://www.jquery.com/" class="btn btn-info btn-lg">Codex Library</a>
            <a href="https://www.jquery.com/" class="btn btn-primary btn-lg">JQuery Library</a>
            <a href="https://getbootstrap.com/docs/4.4/getting-started/download/" class="btn btn-warning btn-lg">Bootstrap Framework</a>


<style>
.whatsapp-btn {
  position: fixed;
  bottom: 60px;
  right: 20px;
  background-color: transparent;
  color: white;
  padding: 10px 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp-btn img {
  width: 50px;
  height: 50px;
}
</style>

<a href="https://api.whatsapp.com/send?phone=your_phone_number" class="whatsapp-btn">
  <img src="https://cdn-icons-png.flaticon.com/512/3670/3670051.png" alt="">
</a>

        </div>
    </div>
</section>
