    <!-- Footer -->
 <footer>
  <div class="container text-center">
    <a href="https://www.youtube.com" target="_blank">
      <i class="fa fa-youtube-square fa-4x" style="color:red;"></i>
    </a>
    <a href="https://www.instagram.com" target="_blank">
      <i class="fa fa-instagram fa-4x" style="color:purple;"></i>
    </a>
    <a href="https://www.github.com" target="_blank">
      <i class="fa fa-github fa-4x" style="color:white;"></i>
    </a>
    <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
  </div>
</footer>

<style>
  footer i {
    transition: transform 0.2s;
  }
  footer i:hover {
    transform: scale(1.5);
  }
</style>
