    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ site.title }}</h1>
                        <p class="intro-text">{{ site.description }}<br>
                            <a href="https://www.jquery.com/" class="btn btn-info btn">CATALOG</a>
            <a href="https://www.jquery.com/" class="btn btn-primary btn">JQuery Library</a>
            <a href="https://getbootstrap.com/docs/4.4/getting-started/download/" class="btn btn-warning btn">BLOG</a>
            <a href="https://getbootstrap.com/docs/4.4/getting-started/download/" class="btn btn-success btn">WHATSAPP</a>



                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
