 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/grayscale.js" | prepend: site.baseurl }}">
       










       $(document).ready(function() {
  // set initial position of each item
  $('.item').each(function() {
    var itemToMove = $(this);

    if (itemToMove.hasClass('active')) {
      itemToMove.css('left', '0');
    } else {
      itemToMove.css('left', itemToMove.index() > $('.item.active').index() ? '33%' : '-33%');
    }
  });

  // handle slide events
  $('#myCarousel').on('slide.bs.carousel', function(e) {
    // get reference to active item and item to
    </script>

